# Basic Data Analysis

**Objective**

You’ve landed a great job with the Ritz-Jager Hotel operator as a data scientist. This hotel operator wants to improve their business efficiency by utilizing their historical data and they want to find out what happened in their previous bookings, knowing their customer better, and optimizing the promo timing.

Your team of engineer have to analyze the data that they have based on the pre-defined questions that your CEO gave.

| No. | The Question |
|-----|--------------|
| 1. | Where do the guests come from? |
| 2. | How much do guests pay for a room per night? |
| 3. | How does the price per night vary over the year? |
| 4. | Which are the busiest months? |
| 5. | How long do people stay at the hotels? |
| 6. | Bookings by market segment |
| 7. | How many bookings were cancelled? |
| 8. | Which month has the highest number of cancellations? |

---

In [1]:
import pandas as pd
import numpy as np
pd.set_option('max_columns', 50)

pd.__version__

'1.0.5'

In [2]:
df_descript = pd.read_excel('dataset/data_dictionary_Ritz_Jager.xlsx')
df_descript

,Column Name,Definition
0,hotel_type,"Types of the hotel, Resort Hotel, or City Hotel"
1,is_canceled,The value indicating if the booking was cancel...
2,lead_time,Number of days that elapsed between the enteri...
3,arrival_date_year,Year of arrival date
4,arrival_date_month,The month of arrival date
5,arrival_date_week_number,Week number of year for arrival date
6,arrival_date_day_of_month,Day of arrival date
7,stays_in_weekend_nights,Number of weekend nights (Saturday or Sunday) ...
8,stays_in_week_nights,Number of weeknights (Monday to Friday) the gu...
9,adults,Number of adults
10,children,Number of children
11,babies,Number of babies
12,meal_type,Type of meal booked. Categories are presented ...
13,country_origin,Country of origin. Categories are represented ...
14,market_segment,"Market segment designation. In categories, the..."
15,distribution_channel,Booking distribution channel. The term “TA” me...
16,is_repeated_guest,The value indicating if the booking name was f...
17,previous_cancellations,Number of previous bookings that were cancelle...
18,previous_bookings_not_canceled,Number of previous bookings not cancelled by t...
19,reserved_room_type,Code of room type reserved. Code is presented ...
20,assigned_room_type,Code for the type of room assigned to the book...
21,booking_changes,Number of changes/amendments made to the booki...
22,deposit_type,Indication on if the customer made a deposit t...
23,agent_ID,The ID of the travel agency that made the booking
24,company_ID,ID of the company/entity that made the booking...
25,days_in_waiting_list,Number of days the booking was in the waiting ...
26,customer_type,"Type of booking, assuming one of four categori..."
27,adr,Average Daily Rate as defined by dividing the ...
28,required_car_parking_spaces,Number of car parking spaces required by the c...
29,total_of_special_requests,Number of special requests made by the custome...
30,reservation_status,"Reservation last status, assuming one of three..."
31,reservation_status_date,Date at which the last status was set. This va...

In [3]:
df = pd.read_csv('dataset/Ritz_Jager_Data.csv')
df.head()

,hotel_type,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal_type,country_origin,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/7/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/7/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2/7/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2/7/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,3/7/2015

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel_type                      119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal_type                       119390 non-null  object
 13  country_origin                  118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [5]:
df.isnull().sum()

hotel_type                             0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal_type                              0
country_origin                       488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

## Q1 : Where do the guests come from?

In [6]:
df['country_origin'].fillna(df['country_origin'].mode()[0], inplace=True)

In [7]:
df['country_origin'].value_counts().head(10)

PRT    49078
GBR    12129
FRA    10415
ESP     8568
DEU     7287
ITA     3766
IRL     3375
BEL     2342
BRA     2224
NLD     2104
Name: country_origin, dtype: int64

Top 10 Guest are come from Portugal (PRT), United Kingdom (GBR), France (FRA), Spain (ESP), Germany (DEU), Italy (ITA), Ireland (IRL), Belgium (BEL), Brazil (BRA), Netherlands (NLD).

## Q2 : How much do guests pay for a room per night?

In [8]:
df['children'].fillna(df['children'].mode()[0], inplace=True)
df['children'] = df['children'].astype('int64')
df['total_guest'] = df['adults'] + df['children'] + df['babies']

In [9]:
df[df['is_canceled']==0].groupby('total_guest').agg({'adr':np.mean}).sort_values(by='adr',ascending=False)

                    adr
total_guest
5            218.864660
4            183.148029
3            140.476984
2             97.952208
10            95.000000
12            84.450000
1             76.528818
0             12.143032

## Q3 : How does the price per night vary over the year?

In [10]:
df['arrival_date_year'].value_counts()

2016    56707
2017    40687
2015    21996
Name: arrival_date_year, dtype: int64

In [11]:
df.groupby('arrival_date_year').agg({'adr':np.var})

                           adr
arrival_date_year
2015               1827.459515
2016               2495.571603
2017               2730.721279

**In 2017,** the price per night varies the most among other years.

## Q4 : Which are the busiest months?

In [12]:
df[df['is_canceled']==0].groupby(['arrival_date_year','arrival_date_month'])['arrival_date_month'].count().sort_values(ascending=False).head(5)

arrival_date_year  arrival_date_month
2016               October               3689
                   May                   3563
2017               May                   3551
2016               September             3372
                   April                 3367
Name: arrival_date_month, dtype: int64

In [13]:
df[df['is_canceled']==0].groupby(['arrival_date_year','arrival_date_month'])['arrival_date_month'].count().max()

3689

**October 2016** is the busiest month. Followed by **May 2016** and so on.

## Q5 : How long do people stay at the hotels?

In [14]:
df['total_stays'] = df['stays_in_week_nights'] + df['stays_in_weekend_nights']
df.head()

,hotel_type,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal_type,country_origin,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_guest,total_stays
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/7/2015,2,0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/7/2015,2,0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2/7/2015,1,1
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2/7/2015,1,1
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,3/7/2015,2,2

In [15]:
df.groupby('hotel_type')['total_stays'].mean()

hotel_type
City Hotel      2.978142
Resort Hotel    4.318547
Name: total_stays, dtype: float64

The average of people stay in **City Hotel are 71.475 Hours** and in **Resort Hotel are 103.645 Hours**

## Q6 : Bookings by market segment

In [16]:
df['market_segment'].value_counts()

Online TA        56477
Offline TA/TO    24219
Groups           19811
Direct           12606
Corporate         5295
Complementary      743
Aviation           237
Undefined            2
Name: market_segment, dtype: int64

Most bookings are through **Online Travel Agents** and followed by **Offline Travel Agents / Tour Operators**

## Q7 : How many bookings were cancelled?

In [17]:
cancel = df[df['is_canceled']==1]['is_canceled'].count()
print('Total Booking were canceled are : {0}'.format(cancel))

Total Booking were canceled are : 44224

## Q8 : Which month has the highest number of cancellations?

In [18]:
df[df['is_canceled']==1].groupby('arrival_date_month')['is_canceled'].count().sort_values(ascending=False)

arrival_date_month
August       5239
July         4742
May          4677
June         4535
April        4524
October      4246
September    4116
March        3149
February     2696
December     2371
November     2122
January      1807
Name: is_canceled, dtype: int64

The month with the highest number of cancellations is on **August.**